@keyframes fadeIn {
  from { opacity: 0 }
  to { opacity: 1 }
}

@keyframes popIn {
  from {
    opacity: 0;
    transform: scale(0.8);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

header nav {
    height: 17vh;
    margin-top: 2px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    background-color: #dbdbdb;
    
    justify-content:space-between;
}

header nav p {
    color: #fffffff9;
    text-transform: capitalize ;
    font-size: 18px;
    background-color: #332d5675;
    text-shadow: 2px 0px 3px rgb(33, 33, 33);
    padding-bottom: 5px;
}
header nav h1 {
    font-size: 40px;
    background-color: #564c8d18;
    padding: 5px;
    color: #ffffff;
    font-weight: 600;
    font-family: "Montzerrat";
    letter-spacing: 2px;
    text-transform: uppercase;
    text-shadow: 2px 0px 3px rgb(33, 33, 33);
}
header nav div {
    width: 33%;
    display: flex;
    list-style: none;
    flex-direction: column;
    margin-right: 10px;
    justify-content: center;
    text-align: center;
   }
   .imagenLogo {
    width: 22vh;
    box-shadow: 1px 1px 16px rgba(0, 0, 0, 0.747), 0px -1px 10px rgba(0, 0, 0, 0.562);
    height: 17.5vh;
       }
.navNuevo{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10%;
  

}
.saludoP{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  
}
.saludoP p {
  width: 40%;
  margin: 0px;
  padding: 0px;
}
.navNuevo span{
  font-size: 20px;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;

}
.navNuevo a {
  text-decoration: none;
  
}
 
.loginFotoMenu{
  display: flex;
  flex-direction: column;
  align-items: end;
  width: 37vh;
  
  gap:20px;
  height: 69vh;
}
.loginFotoMenuDiv1{
  display: flex;
  width: 100%;
  margin-top: 10%;
  padding: 4vh 0vh;
  border-bottom: 1px solid rgba(0, 0, 0, 0.267);
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.loginFotoMenuDiv2{
  width: 90%;
  display: flex;
  align-self: center;
  justify-content: center;
  }

.loginFotoMenu div p{
  margin: 0px;
  padding: 0px;
  background-color: #ffcece00;
}
.loginFotoMenu img{
  border-radius: 3000px;
  border: 2px solid #000000be;
  width: 6vh;
  height: 5.5vh;

}
.modalOpcionesMaster{
    display: flex;
    justify-content: end;
    align-items: end;
   flex-direction: column;
    width: 100%;
    }

.modalOpciones {
  width: 37vh;
  height: 69vh;
  background-color: #f1f1f1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  position:absolute;
  top: 0;
  right: 0; 
  margin: 0;
  padding: 0;
  transform: translateY(100%); 
  pointer-events: none;
  transition: transform 0.3s ease, opacity 0.3s ease; 
  background-size: contain;
  box-shadow: -1px 2px 7px rgba(0, 0, 0, 0.192);
  border-radius: 2px 0px 10px 2px;
  z-index: 2;
}
.modalOpciones div {
  margin: 0px; 
  }
  .modalOpcionesMaster button{
    width: 10vh;
  }
  
.active-link {
    font-weight: bold;
    font-size: 20px; 
}
.modalOpciones.show {
  transform: translateX(0); 
  pointer-events: auto;
  
}

.modalOpciones.hide {
  opacity: 0;
  transform: translateY(-100%); 
  pointer-events: none;
 }

.botonesNav{
  width: 90%;
  background-color: #592c7d86;
  
}

.botonesNav:hover{
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.459),1px -1px 8px rgba(0, 0, 0, 0.562);
    background-color: #592c7da8;
}

/* MODAL CERRAR SESION */
.modal.d-block {
   top: 0;
  left: 0;
  width: 100vw;
  height: 50vw;
  z-index: 1050;
  background-color: #00000063;
  display: flex !important;
  align-items: center;
  justify-content: center;
  position: fixed;
}
.promo {
  padding: 12px 0%;
height: 42px;
border-radius: 20%;
}
.modal-header {
  background-color: #340044a9;
  width: 100%;
  color: white;
}

.modal-footer button:hover {
  background-color: #340044be;
}
.modal-footer button:active{
  background-color: #340044a9;
}
