.EditarProductos-section {
    background-image: url(../Img/mercadopulga9.jpg);
    background-size: cover;
    background-position: center;
    padding: 20px;
    min-height: 90vh;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    box-shadow: 0px 2px 3px black, 0px -2px 5px black, 0px 0px 0px black, 0px 0px 0px black;
  transition: transform 0.7s;
}

.EditarProductos-form-section {
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 10px;
    }

.EditarProductos-section h2{
    text-align: center;
    text-transform: uppercase;
    font-family: "Montzerrat";
    color: rgb(252, 252, 252);
    font-weight: 100;
    letter-spacing: 5px;
    font-size: 36px;
    box-shadow:0px 2px 13px black, 0px -2px 15px black, 0px 0px 0px black, 0px 0px 0px black; 
    padding: 10px 0px;
    background-color: #ffffff0a;
    border-radius: 5px;
}
.EditarProductos-section form {
    width: 65vh;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: start;
    background-position: top;
    box-shadow:0px 2px 13px rgba(0, 0, 0, 0.384), 0px -2px 15px black, 0px 0px 0px rgba(0, 0, 0, 0.384), 0px -2px 15px black, 0px 0px 0px rgba(0, 0, 0, 0.384), 0px -2px 15px rgba(0, 0, 0, 0.384); 
    background-color: #000000bb;
    border-radius: 10px;
    transition: all 0.5s;
    
}
.EditarProductos-section form label{
    width: 90%;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    color: rgb(255, 255, 255);

}
.EditarProductos-section form * {
    display: block;
    font-weight: 700;
    
    
}
.EditarProductos-form-section input {
    margin-bottom: 2%;
    text-transform: capitalize;
    padding: 8px;
    width: 90%;
    font-size: 14px;
    text-transform: capitalize;
    background-color: #f0f2ff; 
    outline: none;
    box-shadow:0px 2px 13px black, 0px -2px 15px black, 0px 0px 0px black, 0px 0px 0px black;
}
.EditarProductos-form-section button {
    width: 40%;
    height: 4vh;
    font-family: "Montzerrat";
    align-self: center;
    margin-top: 3% ;
    padding: 1%;
    box-shadow: 0px 1px 5px black, 0px -1px 5px black, 0px -1px 5px black, 0px 1px 5px black; 
    border-radius: 5px;
    border-style: none;
    cursor: pointer;
    font-size: 21px;
    letter-spacing: 1px;
    color: #bbbbbb;
    background-color: #141224be;
}
.EditarProductos-form-section button:hover {
    background-color: #000000be;
}
.EditarProductos-form-section button:active {
    background-color: #141224be;
}
.selectDescuento {
    font-size: 18px;
    text-align: center;
}