
.login-section {
    background-color: rgba(0, 0, 0, 0.603);
    background-size: cover;
    background-position: center;
    padding: 20px;
    min-height: 100vh;
    height: 115vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    box-shadow: 0px 2px 3px black, 0px -2px 5px black, 0px 0px 0px black, 0px 0px 0px black;
    transition: transform 0.7s;
}

.login-form-section {
    display: flex;
    flex-direction: column;
    padding: 20px;
    
}
.login-section h2{
    text-transform: uppercase;
    font-family: "Montzerrat";
    text-align: center;
    background-color: #bbbbbb00;
    color: rgb(252, 252, 252);
    font-weight: 100;
    letter-spacing: 5px;
    font-size: 36px;
    padding: 0px 15px;
    border-radius: 5px;
}
.login-section form {
    width: 45vh;
    align-items: center;
    background-repeat: no-repeat;
    text-align: start;
    box-shadow:0px 2px 5px rgba(0, 0, 0, 0.384), 0px -2px 5px black, 0px 0px 0px rgba(0, 0, 0, 0.384), 0px -2px 5px black, 0px 0px 0px rgba(0, 0, 0, 0.384), 0px -2px 5px rgba(0, 0, 0, 0.384);
    background-color: #000000bb;
    border-radius: 5px;
}
.login-section form label{
    width: 90%;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    color: rgb(255, 255, 255);

}
.login-section form * {
    display: block;
    font-weight: 700;
}
.login-form-section input {
    margin-bottom: 2%;
    padding: 8px;
    width: 90%;
    font-size: 14px;
    text-transform: capitalize;
    background-color: #f0f2ff; 
    outline: none;
    box-shadow:0px 2px 13px black, 0px -2px 15px black, 0px 0px 0px black, 0px 0px 0px black;
}
.login-form-section button {
    width: 50%;
    height: 4vh;
    font-family: "Montzerrat";
    align-self: center;
    padding: 1%;
    border-radius: 5px;
    border-style: none;
    cursor: pointer;
    font-size: 20px;
    font-weight: 100;
    color: #ffffff;
    background-color: #592c7d86;
}
.login-form-section button:hover {
    background-color: #461c69da;
}
.login-form-section button:active {
    background-color: #592c7d86;
}